@import 'mixins';
@import 'vars';

html {
    scroll-behavior: smooth;
}

html,
body {
    height: 100%;
}

body {
    @extend %inter-400;
    display: flex;
    flex-direction: column;
}

main {
    flex-grow: 1;
}

a {
    text-decoration: none;
}

.container {
    max-width: 1300px;
    padding: 0 10px;
    margin: 0 auto;
}

.inner {
    max-width: 1920px;
    margin: 0 auto;
}

.swiper,
.swiper-container {
    overflow: hidden;
}

.title {
    @extend %bebas-400;
    font-size: 64px;
    line-height: 78px;
    color: $black;
    letter-spacing: 3.2px;

    &__catalog-item {
        color: $white;
    }
}

.sutitle {
    @extend %bebas-400;
    font-size: 40px;
    line-height: 49px;
    color: $black-deep;
}

.sold-in {
    @extend %inter-400;
    font-size: 16px;
    line-height: 25px;
    color: $green;
}

.sold-out {
    @extend %inter-400;
    font-size: 16px;
    line-height: 25px;
    color: $red;
}

/* button slider   ************************************/
.swiper-button-left,
.swiper-button-right {
    position: absolute;
    width: 43px;
    height: 43px;
    border-radius: 50%;
    background-color: $white;
    border: 1px solid $black;
    z-index: 5;
    @include flex;
    justify-content: center;
    transition: all .25s ease;

    svg {
        path {
            fill: $black;
        }
    }

    &:hover {
        background-color: $black;

        svg {
            path {
                fill: $white;
            }
        }
    }
}

.swiper-button-left {
    top: 40%;
    left: 8px;
}

.swiper-button-right {
    top: 40%;
    right: 8px;
}


/* show-all */
.show-all {
    /* %inter-500 don't correct, need %inter-400, but it dont work */
    @extend %inter-500;
    margin-top: 48px;
    display: inline-block;
    @include flex;
    justify-content: center;
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;
    color: $grey-deep;
    transition: color .2s ease;

    &:hover {
        color: $orange;
    }
}

.show-more-category,
.show-more-brand {
    /* %inter-500 don't correct, need %inter-400, but it dont work */
    @extend %inter-500;
    font-size: 12px;
    line-height: 19px;
    color: $grey-deep;
    text-transform: uppercase;
    transition: color .2s ease;
    cursor: pointer;

    &:hover {
        color: $orange;
    }

    &:active {
        color: $orange-deep;
    }
}


.hidden {
    display: none;
    height: 0;
    visibility: hidden;
    padding: 0;
}


/* style checkbox list */
.check-list {
    border-bottom: 1px solid $grey-light-bright;

    &__item {
        padding: 24px 0;
        display: flex;
        flex-direction: column;
        gap: 19px;
    }

    &__item-label {
        /* %inter-500 don't correct, need %inter-400, but it dont work */
        @extend %inter-500;
        font-size: 15px;
        line-height: 25px;
        color: $grey-deep;
        position: relative;
        padding-left: 34px;
        @include flex-center-sb;
    }

    &__item-input {
        position: absolute;
        opacity: 0;
        width: 0;
        height: 0;
        appearance: none;

        &:checked+.check-list__item-checkbox {
            color: $orange-deep-black;

            &::before {
                background-color: $orange;
                border: 1px solid $orange;
            }

            &::after {
                background-color: $orange;
            }
        }
    }

    &__item-checkbox {
        transition: color .2s ease;

        &::before {
            content: '';
            position: absolute;
            width: 24px;
            height: 24px;
            top: 0;
            left: 0;
            border-radius: 3px;
            border: 1px solid #777;
            background-color: $white;
            transition: all .2s ease;
        }

        &::after {
            content: '';
            position: absolute;
            width: 16px;
            height: 14px;
            background-image: url(../images/check-white-icon.svg);
            @include background-image-property;
            top: 5px;
            left: 3px;
            transition: all .2s ease;
        }
    }

    &__item-text {
        /* %inter-500 don't correct, need %inter-400, but it dont work */
        @extend %inter-500;
        font-size: 12px;
        line-height: 19px;
        text-transform: uppercase;
        color: $grey-light;
        transition: color .2s ease;
    }
}


.category__item-label.check-list__item-label.is-visible {
    display: block;
}

.brand-aside__item-label.check-list__item-label.is-visible {
    display: flex;
}


// scroll top btn
.scroll-top-btn {
    width: 81px;
    height: 81px;
    border-radius: 50%;
    border: 1px solid $white;
    background-color: $black;
    background-image: url(../images/arrow-up-white.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
    position: fixed;
    bottom: 100px;
    right: 190px;
    opacity: 1;
    transition: opacity .3s ease;
    z-index: 2000;

    &__hide {
        opacity: 0;
    }
}


.shop-one-title {
    @extend %bebas-400;
    font-size: 40px;
    line-height: 49px;
    color: $black;
    letter-spacing: 2px;
    text-transform: uppercase;
}

