@import 'reset';
@import 'fonts';
@import 'global';
@import 'vars';


/*
.user-nav__search {
    svg {
        path {
            stroke: orange;
        }
    }
}
*/


.header {
    background-image: url(../images/header-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 875px;
}

.svg-search-icon-dims { 
    width: 24px;
    height: 24px;
}