@import 'reset';
@import 'fonts';
@import 'global';
@import 'vars';
@import 'mixins';
@import 'libs';


/*
.user-nav__search {
    svg {
        path {
            stroke: orange;
        }
    }
}
*/


/*  header  */

.header {
    background-image: url(../images/header-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 875px;

    &__top {
        height: 105px;
        display: grid;
        grid-template-columns: 1fr 2fr 1fr;
        align-items: center;
        column-gap: auto;
    }

    &__content {
        width: 100%;
    }
}

.menu {


    &-list {
        @include flex-center-sb;
        column-gap: 32px;
    }

    &-item {
        min-width: fit-content;
    }

    &-link {
        color: $white;
        font-size: 12px;
        line-height: 19px;
        text-transform: uppercase;

        transition: color .25s;

        &:hover {
            color: $orange;
        }
    }
}


.user-nav {
    &__wrapper {
        @include flex;
        justify-content: flex-end;
        column-gap: 58px;
    }


    &__items {
        @include flex;
        justify-content: flex-end;
        column-gap: 24px;

    }



    &__heart {
        position: relative;

        &-number {
            content: '';
            position: absolute;
            width: 12px;
            height: 12px;
            border-radius: 50%;
            font-size: 8px;
            top: 0;
            right: 0;
            background-color: $orange;
            color: $white;
            @include flex;
            justify-content: center;
        }
    }

    &__cart {
        position: relative;

        &-number {
            content: '';
            position: absolute;
            width: 12px;
            height: 12px;
            border-radius: 50%;
            font-size: 8px;
            top: 0;
            right: 0;
            background-color: $orange;
            color: $white;
            @include flex;
            justify-content: center;
        }
    }
}



/* slider */

.header-slider {
    margin-top: 80px;


    &__title {
        @extend %bebas-400;
        font-size: 110px;
        line-height: 135px;
        color: $white;
        letter-spacing: 2.2px;
        max-width: 680px;
        margin-bottom: 48px;

    }

    &__subtitle {
        @extend %inter-300;
        font-size: 18px;
        line-height: 28px;
        letter-spacing: .12px;
        color: $white;
        max-width: 645px;
        margin-bottom: 40px;

    }


    &__btn {
        @include button;
    }
}




.swiper-pagination {
    margin-top: 100px;
    @include flex;
    justify-content: center;
    column-gap: 16px;

    .swiper-pagination-bullet {
        width: 12px;
        height: 12px;
        opacity: 1;
        background-color: #4C4C4C;
        border-radius: 50%;
    }

    .swiper-pagination-bullet-active {
        width: 19px;
        height: 19px;
        background-color: $orange;
        transition: background-color .3s;
    }
}



/*  more  */

.more {
    margin-bottom: 80px;

    &__inner {
        @include flex;
        justify-content: center;

    }

    &__item-link {
        display: none;
    }

    &__item {
        padding: 48px;
        height: 212px;
        /*transition: display 1s ease;*/
        z-index: 2;

        &:hover {
            .more__item-link {
                display: block;
            }

            .more__item-title {
                margin-bottom: 35px;
            }
        }
    }

    &__item-title {
        @extend %inter-500;
        font-size: 24px;
        line-height: 38px;
        letter-spacing: .24px;
        color: $white;
    }


    &__extreme {
        width: 100%;
        position: relative;
        background-color: #101010;

        &::after {
            content: '';
            position: absolute;
            width: 100%;
            height: 212px;
            background-color: #101010;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            right: 0;
            transition: transform .4s ease;
            z-index: -1;
        }

        &:hover::after {
            border-radius: 0px 10px 10px 0px;
            transform: scaleY(1.3)
        }

    }

    &__item-extreme {
        width: 293px;
        margin-left: auto;
    }



    &__profi {

        margin-right: 54px;

        width: 427px;
        background-color: #131313;
        position: relative;

        &::after {
            content: '';
            position: absolute;
            width: 427px;
            height: 212px;
            background-color: #131313;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            right: 0;
            transition: transform .4s ease;
            z-index: -1;
        }

        &:hover::after {
            border-radius: 10px;
            transform: scaleY(1.3)
        }
    }

    &__item-profi {
        width: 277px;
    }



    &__race {
        width: 100%;
        background-color: #2E2E2E;
        position: relative;

        &::after {
            content: '';
            position: absolute;
            width: 100%;
            height: 212px;
            background-color: #2E2E2E;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            right: 0;
            transition: transform .4s ease;
            z-index: -1;
        }

        &:hover::after {
            border-radius: 10px 0px 0px 10px;
            transform: scaleY(1.3)
        }
    }

    &__item-race {
        width: 326px;
    }


    &__item-link {
        @extend %inter-500;
        line-height: 19px;
        color: $orange;
    }

}

/* brand */

.brand {
    margin-bottom: 66px;
    height: 206px;

    &__inner {
        @include flex-center-sb;
    }
}

/* novelties */

.novelties {
    padding: 80px 0;
    background-color: $grey-bg;

    &__title {
        margin-bottom: 80px;

    }
}


/* product cart item */
.product-item {
    padding: 18px 16px 20px;
    border-radius: 10px;
    background-color: $white;
    position: relative;

    /*
    z-index: -1;

    &::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: #2E2E2E;
        border-radius: 10px;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        right: 0;
        transition: transform .4s ease;

    }

    &:hover::after {
        border-radius: 10px;
        transform: scaleY(1.38);
    }
    */

    &__top {
        @include flex-center-sb;

        &-box {
            position: absolute;
            left: 0;
            top: 0;
        }

        &-img {
            border-radius: 10px 0 0 0;
        }

        &-stock {
            position: absolute;
            right: 16px;
            top: 16px;
        }
    }

    &__title {
        @include product-item-title;
    }

    &__price {
        @extend %inter-500;
        font-size: 16px;
        line-height: 19px;
        color: $grey-deep;
    }

    /* button */
    &__link-btn {
        @include button-one-click;
    }
}




/* button slider   ************************************/
.swiper-button-prev,
.swiper-button-next {
    width: 43px;
    height: 43px;
    border-radius: 50%;
    background-color: red;

}

.swiper-button-prev {
    background-image: url(../images/arrow-back-to-left.svg);
}






.show-all {
    margin-top: 48px;
    display: inline-block;
    @include flex;
    justify-content: center;
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;
    color: $grey-deep;
}



.catalog {
    &__inner {
        padding: 160px 0 80px;
    }

    &__title {
        margin-bottom: 80px;
    }

    &__items {
        width: 1280px;
        display: flex;
        flex-wrap: wrap;
        gap: 16px;
    }

    &__items-box {
        display: flex;
        flex-wrap: wrap;
        gap: 16px;
        width: 864px;
    }

    &__item {
        border-radius: 10px;
    }

    /* display: inline-block; for all title*/


    &__item-bike {
        width: 100%;
        height: 300px;
        padding-left: 80px;
        background-color: $orange;
        @include flex;
        background-repeat: no-repeat;
        background-position: bottom right;
        background-size: contain;
    }


    &__item-trade-in {
        max-width: 400px;
        width: 100%;
        height: 458px;
        background-color: $black;
        background-repeat: no-repeat;
        background-position: right bottom;
        background-size: contain;
    }

    &__title-trade-in {
        text-align: center;
        padding-top: 80px;
    }


    &__item-spares {
        max-width: 400px;
        width: 100%;
        height: 190px;
        background-color: $black;
        @include flex;
        background-repeat: no-repeat;
        background-position: right bottom;
        background-size: contain;
    }

    &__title-spares {
        padding-left: 40px;
    }


    &__item-kit {
        max-width: 448px;
        width: 100%;
        height: 239px;
        background-color: $black;
        background-repeat: no-repeat;
        background-position: right bottom;
    }

    &__title-kit {
        padding-left: 40px;
    }


    &__item-accessory {
        max-width: 400px;
        width: 100%;
        height: 252px;
        background-color: $black;
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        justify-content: flex-end;
        background-repeat: no-repeat;
        background-position: top right;
        margin-top: -48px;
    }

    &__title-accessory {
        padding: 40px 29px;
    }

    &__item-stand {
        max-width: 448px;
        width: 100%;
        height: 203px;
        background-color: $black;
        background-repeat: no-repeat;
        background-position: right bottom;
    }

    &__title-stand {
        padding: 40px;
    }


    &__info {
        margin-top: 160px;
        @include flex;
        justify-content: space-between;
    }

    &__title-info {
        max-width: 620px;
    }

    &__info-descr {
        max-width: 510px;
    }

    &__info-text {
        @include text;
        margin-bottom: 32px;
    }

    &__info-link {
        @extend %inter-500;
        font-size: 16px;
        line-height: 19px;
        color: $grey-light;
    }

}


.video {
    position: relative;

    &__content {
        width: 100%;
        height: auto;
    }
    
    &__btn {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 2;
    }
}



.serveces {
    margin-top: -5px;
    background-color: $grey-deep-dark;
    height: 206px;
    @include flex-center-sb;
    
    &__items {
        display: flex;
        column-gap: 44px;
        color: $white;
    }
    
    &__item-title {
        position: relative;
        height: 40px;
        white-space: nowrap;
        @extend %inter-500;
        font-size: 20px;
        line-height: 32px;
        letter-spacing: .2px;
        padding-left: 56px;
        margin-bottom: 16px;
        
    }

    &__item-text {
        max-width: 248px;
        @extend %inter-300;
        font-size: 16px;
        line-height: 25px;
    }

    &__brands {
        &::after {
            @include serveces-after;
            background-image: url(../images/serveces-brands-icon.svg);
        }
    }

    &__guarantee {
        &::after {
            @include serveces-after;
            background-image: url(../images/serveces-guarantee-icon.svg);
        }
    }

    &__setting {
        &::after {
            @include serveces-after;
            background-image: url(../images/serveces-setting-icon.svg);
        }
    }

    &__delivery {
        &::after {
            @include serveces-after;
            background-image: url(../images/serveces-delivery-icon.svg);
        }
    }
}

.best-winter {
    &__inner {
        display: flex;
        height: 770px;
        background-color: $black;
        position: relative;

        /*&::before {
            content: '';
            position: absolute;
            bottom: 28px;
            left: 0;
            width: 634px;
            height: 685px;
            background: url(../images/best-winter-bg-left.png), lightgray -205.122px 0.001px / 129.945% 140.454% no-repeat;
            @include background-image-property;
        }*/

        &::after {
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            width: 345px;
            height: 506px;
            background: url(../images/best-winter-bg-right.png), lightgray -205.122px 0.001px / 129.945% 140.454% no-repeat;
            @include background-image-property;

        }
    }

    &__title-box {
        width: 645px;
        background: url(../images/best-winter-bg-left.png);
        background-repeat: no-repeat;
        background-position: left bottom;
        background-size: 685px 634px;
        position: relative;
    }
    
    &__title {
        max-width: 418px;
        color: $white;
        position: absolute;
        right: -85px;
        top: 80px;

    }

    &__slider-inner {
        max-width: 1275px;
        margin-top: 248px;
    }

}