$white: #fff;
$white-light: #E5E5E5;
$black: #101010;
$black-deep: #000;
$grey-bg: #F8F8F8;
$grey-light-bright: #E5E5E5;
$grey-light: #B3B3B3;
$grey-deep: #777;
$grey-deep-medium: #4C4C4C;
$grey-deep-light: #34312D;
$grey-deep-dark: #2E2E2E;
$grey-black: #101010;
$grey-deep-black: #131313;
$orange: #F57520;
$orange-light: #F57F2A;
$orange-black: #EB6B16;
$orange-deep: #E1610C;
$orange-deep-black: #D75702;

$red: #F53A20;
$green: #4D932C;


%bebas-400 {
    font-family: 'Bebas-Neue', sans-serif;
    font-weight: 400;
}

%inter-300 {
    font-family: 'Inter-Light', sans-serif;
    font-weight: 300;
}

%inter-400 {
    font-family: 'Inter-Regular', sans-serif;
    font-weight: 400;
}

%inter-500 {
    font-family: 'Inter-Medium', sans-serif;
    font-weight: 500;
}



