$white: #fff;
$black: #101010;
$grey-bg: #F8F8F8;
$grey-light: #B3B3B3;
$grey-deep: #777;
$orange: #F57520;
$red: #F53A20;
$green: #4D932C;


%bebas-400 {
    font-family: 'Bebas-Neue', sans-serif;
    font-weight: 400;
}

%inter-300 {
    font-family: 'Inter-Light', sans-serif;
    font-weight: 300;
}

%inter-400 {
    font-family: 'Inter-Regular', sans-serif;
    font-weight: 400;
}

%inter-500 {
    font-family: 'Inter-Medium', sans-serif;
    font-weight: 500;
}



