$white: #fff;

$orange: #F57520;



%bebas-400 {
    font-family: 'Bebas-Neue', sans-serif;
    font-weight: 400;
}

%inter-300 {
    font-family: 'Inter-Light', sans-serif;
    font-weight: 300;
}

%inter-400 {
    font-family: 'Inter-Regular', sans-serif;
    font-weight: 400;
}

%inter-500 {
    font-family: 'Inter-Medium', sans-serif;
    font-weight: 500;
}



